{% extends 'newspaper/index.html' %}
{% load static %}

{% block content %}
<div style="margin: 30px;">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'newspaper/style.css' %}">
    <h1>New post</h1>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="input">Сохранить</button>
    </form>
</div>

{% endblock %}