{% extends 'shoefinder/index.html' %}
{% load static %}

{% block title %}{{article_name}}{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Название: {{article_name}}</h1>
    <p>Категория: {{article_name.category}}</p>
    <p>Заголовок статьи: {{article_name.name}}</p>
    <p>Автор(ы): {% for author in article_name.author.all %}{{ author.name }}{% if not forloop.last %}, {% endif %}{%
        endfor %}</p>
    <p>Теги: {% for tag in article_name.tag.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <img src="{% static 'newspaper/images/' %}{{ article_name.id }}.jpg" width="300">
    <p>Где читать:</p>
    <ul>
        {% for article_link in links %}
        <li><a href="{{ article_link.url }}" target="_blank">{{ article_link.website_name }}</a>
            <p>Читателей: {{ article_link.readers_count }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}