{% extends 'newspaper/index.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Название: {{ article.title }}</h1>
    <p> <b>Раздел:</b> {{ article.section }}</p>
    <p> <b>Автор:</b>  {{ article.author.name }}</p>
    <img src="{% static 'newspaper/images/' %}{{ article.id }}.jpg" width="400" alt="{{ article.title }}">
    <p> <b>Содержание:</b>  {{ article.content }}</p>
    <p> <b>Дата публикации:</b>  {{ article.publication_date }}</p>
    <p> <b>Комментарии:</b> </p>
    <div>
        <ul class="ul_comment">
            {% for comment in comments %}
            <li>{{ comment.text }} - {{ comment.reader.name }} ({{ comment.timestamp }})</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}