{% extends 'newspaper/index.html' %}
{% load static %}

{% block title %}{{article.name}}{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Название: {{ article.name }}</h1>
    <p>Категория: {{ article.category }}</p>
    <p>Заголовок статьи: {{ article.name }}</p>
    <p>Автор(ы):
        {% for author in article.author.all %}
            {{ author.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Теги:
        {% for tag in article.tag.all %}
            {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <img src="{% static 'newspaper/images/' %}{{ article.id }}.jpg" width="300">
    <p>Где читать:</p>
    <ul>
        {% for article_link in links %}
        <li><a href="{{ article_link.url }}" target="_blank">{{ article_link.website_name }}</a>
            <p>Читателей: {{ article_link.readers_count }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}