{% extends 'newspaper/index.html' %}

{% block title %}Подходящие статьи{% endblock %}

{% block content %}
<div class="wrapper">
    <ul class="finded">
        Все выбранные разделы:
        {% for category in selected_categories %}
        <li>{{ category }}</li>
        {% endfor %}
    </ul>
    <ul class="finded">
        Подходящие статьи:
        {% for article in articles %}
        <li><a href="{% url 'newspaper:detail' article.id %}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}