{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}Онлайн издание{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'newspaper/style.css' %}">
    <style>
        .element {
            color: aliceblue;
        }
    </style>
</head>

<body>

    <header class="header">
        <div class="header__wrapper">
            <a href="{% url 'newspaper:index' %}">
                <img src="{% static 'newspaper/images/mospolytech_logo_white.png' %}" alt="our logotype"
                    class="header__logo">
            </a>
            <a style="color: aliceblue;" href="{% url 'newspaper:index' %}"> К статьям! </a>
        </div>
        <nav>
            <div>
                <div>
                    <ul style="list-style-type: none;">
                        {% if user.is_authenticated %}
                            <li>
                                <ul style="list-style-type: none; display: flex; gap: 3rem; margin-right: 3rem;">
                                    <li class="element">
                                        <a class="element" href="{% url 'users:profile' user.id %}">Профиль</a>
                                    </li>
                                    {% if user.is_superuser or user.is_staff %}
                                        <li class="element">
                                            <a class="element" href="{% url 'admin:index' %}">Админ-панель</a>
                                        </li>
                                    {% endif %}
                                    <li class="element">
                                        <a class="element" href="{% url 'users:logout' %}">Выйти</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="element" style="margin-right: 3rem;">
                                <a class="element" href="{% url 'users:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer__wrapper">
            <span style="color: aliceblue; font-size: 30px;">Выполнил: Аксенов Кирилл</span>
        </div>
    </footer>
</body>

</html>
