{% extends 'newspaper/index.html' %}
{% load socialaccount %}

{% block content %}
<main>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div>
            <div>
                {% if messages or form.non_field_errors %}
                <div
                    {% if messages %} alert-success {% else %} alert-warning {% endif %}
                    alert-dismissible fade show" role="alert"
                    style="margin-top: 50px;"
                >
                    {% if messages %}
                      {% for message in messages %}
                       {{ message }}
                      {% endfor %}
                      {% else %}
                      {{ form.non_field_errors }}
                    {% endif %}
                    <button type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div>
                    <div>
                        <h3>Авторизация</h3>
                    </div>
                    <div>
                        <form action="{% url 'users:login' %}" method="post" style="display: flex; flex-direction: column; gap: 15px;">
                            {% csrf_token %}
                            <div>
                                <label for="{{ form.username.id_for_label }}">
                                    Имя пользователя
                                </label>
                                {{ form.username }}
                            </div>
                            <div>
                                <label for="{{ form.password.id_for_label }}">Пароль</label>
                                {{ form.password }}
                            </div>
                            <div>
                                <input style="width: 100%;" type="submit" value="Авторизоваться">
                            </div>
                            <div style="margin-bottom: 15px;">
                                <a href="{% provider_login_url 'github' %}">Войти через GitHub</a>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'users:registration' %}">Нужен аккаунт?
                            Зарегистрируйся!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
