{% extends 'newspaper/index.html' %}
{% load static %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <div style="margin-left: 0; text-align: center;">
    <h4 style="font-size: 25px;">Профиль</h4>
    <div style="margin-bottom: 10px;">
      <img
        width="100"
        height="100"
        src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'vendor/img/users/default_avatar.jpg' %} {% endif %}"
      />
    </div>
  </div>
  <form
    style="margin-left: 50px; display: flex; flex-direction: column; gap: 15px; align-items: center;"
    action="{% url 'users:profile' user.id %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div style="width: 290px;">
      <label for="{{ form.first_name.id_for_label }}" style="display: flex; flex-direction: column;">Имя</label>
      {{ form.first_name }}
    </div>
    <div style="width: 290px;">
      <label for="{{ form.last_name.id_for_label }}" style="display: flex; flex-direction: column;">Фамилия</label>
      {{ form.last_name }}
    </div>
    <div style="width: 290px;">
      <label for="{{ form.image.id_for_label }}" style="display: flex; flex-direction: column;" >Выберите изображение</label>
      {{ form.image }}
    </div>
    <div style="width: 290px;">
      <label for="{{ form.username.id_for_label }}" style="display: flex; flex-direction: column;">Имя пользователя</label>
      {{ form.username }}
    </div>
    <div style="width: 290px;">
      <label for="{{ form.email.id_for_label }}" style="display: flex; flex-direction: column;">Адрес электронной почты</label>
      {{ form.email }}
    </div>
    <div style="margin-bottom: 25px; margin-top: 10px; width: 100%;">
      <input style="width: 87%;" type="submit" value="Сохранить" />
    </div>
  </form>
</div>
{% endblock %}
