{% extends 'newspaper/index.html' %}

{% block content %}
    <main>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div>
                <div>
                    {% if form.errors %}
                        <div role="alert" style="margin-top: 50px;">
                            {{ form.errors }}
                            <button type="button" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div>
                        <div>
                            <h3>Создать аккаунт</h3>
                        </div>
                        <div>
                            <form action="{% url 'users:registration' %}" method="post" style="display: flex; flex-direction: column; gap: 15px;">
                                {% csrf_token %}
                                <div>
                                    <div>
                                        <label for="{{ form.first_name.id_for_label }}">
                                            Имя
                                        </label>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label for="{{ form.last_name.id_for_label }}">
                                            Фамилия
                                        </label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                                <div>
                                    <label for="{{ form.username.id_for_label }}">
                                        Имя пользователя
                                    </label>
                                    {{ form.username }}
                                </div>
                                <div>
                                    <label for="{{ form.email.id_for_label }}">
                                        Адрес электронной почты
                                    </label>
                                    {{ form.email }}
                                </div>
                                <div>
                                    <div>
                                        <label for="{{ form.password1.id_for_label }}">
                                            Пароль
                                        </label>
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label for="{{ form.password2.id_for_label }}">
                                            Подтверждение пароля
                                        </label>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <div>
                                    <input style="width: 100%;" type="submit" value="Создать аккаунт">
                                </div>
                            </form>
                        </div>
                        <div>
                            <div>
                                <a href="{% url 'users:login' %}">
                                    Уже есть аккаунт? Авторизоваться
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
